<div class="text-center row">
  <h2>Doctor's Office</h2>
</div>

<div class="row">
  <div class="col-md-6 text-right">
    <a class="btn btn-success" href="/doctors">View Doctors</a>
  </div>

  <div class="col-md-6 text-left">
    <a class="btn btn-warning" href="/patients">View Patients</a>
  </div>
</div>
